<div class="dropdown text-center my-3">
    <button class="btn btn-secondary dropdown-toggle" id="genreToggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Exercises
    </button>
    <ul class="dropdown-menu text-center">
              <li><button class="dropdown-item" id="28" type="button">Chest</button></li>
              <li><button class="dropdown-item" id="12" type="button">Back</button></li>
              <li><button class="dropdown-item" id="16" type="button">Arms</button></li>
              <li><button class="dropdown-item" id="35" type="button">Abdominals</button></li>
              <li><button class="dropdown-item" id="80" type="button">Legs</button></li>
              <li><button class="dropdown-item" id="99" type="button">Shoulders</button></li>
    </ul>
</div>