 <section class="d-flex justify-content-center mt-5 mx-3">    
            <form class="px-3 py-5 form">
                <h3 class="text-center text-light">Login</h3>

                {{!-- Username Input --}}
                <div class="form-group">
                    <label for="usernameInput" class="text-light">Username</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Enter Username" autocomplete="off"> 
                </div>

                {{!-- Password Input --}}
                <div class="form-group" style="height: 3rem">
                    <label for="passwordInput" class="text-light">Password</label>>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                    <small class="text-danger loginError text-center" style="font-size:12px"></small>
                </div>

                {{!-- Submit Button --}}
                <div class="text-center mt-5">
                    <button type="submit" class="btn" id="loginBtn">Submit</button> 
                </div>

                {{!-- Registration link --}}
                <div class="text-center mt-2">
                    <a href="/register" class="text-light">No account? Register here!</a> <!-- GET for server to render register page -->
                </div>
            </form>
        </section>

<script src="/js/login.js"></script>