
<h1>Your Schedule</h1>
<!--calendar section -->


<section class="container">
   
    
        <div>
                
                <input id="datepicker" class="form-control" type="date" />
                <span id="DateSelected"></span>
                
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" id="view-schedule">View Workouts</button>
        </div>
            
    
</section>
    <!--
    <div class="card body shadow d-flex justify-content-center py-2 px-3">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <p class="text-white">View Calendar</p>
                <input id="datepicker" class="form-control" type="date" />
                <span id="DateSelected"></span>
                <button class="btn" id="view-schedule">View Workouts</button>
            </div>
        </div>
    </div> 
    -->
</div>
{{#if noScheduled}}
<div>
<p>None Scheduled</p>
</div>

{{else}}


<section class="row d-flex justify-content-center mx-1">
{{#each storedExercises as |exercise|}}
    {{> schedule-cards}}
{{/each}}
</section>
{{/if}}

<script src="/js/viewScheduled.js"></script>

