

<!--calendar section -->


<section class="container my-3">
    <h1 class="text-center">Your Schedule</h1>
   
    
        <div class="d-flex justify-content-center">
                
                <input id="datepicker" class="form-control" style="width:30vh" type="date" />
                <span id="DateSelected"></span>
                
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" id="view-schedule">View Workouts</button>
        </div>
            
    
</section>
   
</div>
{{#if storedExercises}}
<section class="row d-flex justify-content-center mx-1">
{{#each storedExercises as |exercise|}}
    {{>schedule-cards}}
{{/each}}
</section>


{{else}}
<div class="d-flex justify-content-center mt-5">
<img src="/images/empty.png" style="width:12rem">
</div>



{{/if}}

<script src="/js/viewScheduled.js"></script>

