:root {
    --title-color: #00a8e8;
    --btn-color: #fed766;
    --card-color: #272727;
    --hover-color: #eff1f3;
}

* {
    /* font-family: "Special Elite", cursive; */
    font-family: 'Racing Sans One';
}

body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 5rem;
    min-height: 100vh !important;
    /* background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(255,255,255,1) 100%); */
    /* background-image: url(../images/qbkls.webp);
    background-repeat: repeat; */
}

/* -------------- Navbar/Footer main.handlebars --------------*/
#navbar {
    background-color: var(--card-color);
    padding: 0rem;
    box-shadow: 0px 4px 4px black;
}

.nav-link {
    color:black !important;
}

.nav-item {
    margin-top: 4vh;
    padding-bottom: 0; 
}

#signoutBtn {
  cursor:pointer;
}

/* navigation tabs */
.tab {
    background-color: var(--);
    border-radius: 0.2rem;
    margin: 0.1rem 1rem;
    padding: 0.1rem 0.7rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    /* box-shadow: 1px 1px 1px #fed766, -1px -1px 1px #fed766; */
    background: rgb(239,241,243);
    background: linear-gradient(0deg, rgba(239,241,243,1) 0%, rgba(143,143,143,1) 100%);
    box-shadow: 3px 3px 4px black;
}

.tab:hover {
  box-shadow: none;
  /* box-shadow: 1px 0px 4px var(--y-color), -1px 0px 4px var(--title-color); */
  /* box-shadow: 2px 0px 4px #fed766, -2px 0px 4px var(--title-color); */
  /* background: var(--title-color);
  background: radial-gradient(circle, var(--title-color) 70%, rgba(39,39,39,1) 100%); */
  box-shadow: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top: 1px solid black;
    background-color: var(--card-color);
}

#logo {
  background: var(--title-color);
  background: radial-gradient(circle, var(--title-color) 1%, rgba(39,39,39,1) 30%);
}

#logo:hover {
  background: var(--title-color);
  background: radial-gradient(circle, var(--title-color) 1%, rgba(39,39,39,1) 80%);
}

/*-------------- Login/Register form containers --------------*/
.form, .card {
    background-color: var(--card-color);
    border-radius: 0.1rem;
    box-shadow: 4px 4px 5px black;
}

#registerBtn, #loginBtn, #detailsBtn {
    background-color: var(--btn-color);
    box-shadow: 0px 2px 2px var(--btn-color), 0px -2px 2px var(--btn-color);
}

#registerBtn:hover, #loginBtn:hover, #detailsBtn:hover {
  box-shadow: none;
}

/*-------------- Homepage --------------*/

.homeTitle {
  color: var(--title-color);
}

.homeArticleR {
  background-color: var(--card-color);
  box-shadow: 4px 4px 4px black;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.homeArticleL {
  background-color: var(--card-color);
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: -4px 4px 4px black;
}

.homeImg {
  box-shadow: 0px 4px 4px black;
}

/* .homeContainer {
  transition: 0.8s;
  opacity: 0.8;
}
.homeContainer:hover {
  opacity: 1;
} */

.headline {
  color: var(--btn-color);
  text-decoration: underline;
}

/* --------------Exercises Page displaying categories --------------*/

.stepTitle {
  text-decoration: underline;
  color: var(--title-color);
}

.muscleCategory {
    width: 20rem;
    background-color: var(--btn-color);
    border-radius: 0.6rem;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    transition: 0.3s;
}

.muscleCategory:hover {
    box-shadow: 2px 2px 1px black;
    cursor:pointer;
    text-decoration: underline;
}

.exerciseCard {
    margin-bottom: 2rem !important;
    box-shadow: 0px 5px 5px black;
}

#addExercise:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px var(--), 0px -1px 2px var(--);
    /* border: 1px solid var(--); */
}

/* -------------- Fitness Scheduler Feature --------------*/
.scheduleBtn {
  background-color: var(--title-color);
  /* box-shadow: 0px 3px 2px black; */
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  box-shadow: 0px 10px 10px black;
}

.scheduleBtn:hover {
  box-shadow: none;
}

.scheduleBox {
  /* background-image: url(../images/dark-honeycomb.png);
  background-repeat: repeat; */
  border: 2px solid var(--title-color);
}

#submitExerciseBtn {
  background-color: var(--btn-color);
  box-shadow: 3px 3px 4px black;
  transition: 0.5s;
}

#submitExerciseBtn:hover {
  box-shadow: none;
  border: 1px solid black;
}

/* --------------Granim Canvas Background-------------- */
#granimCanvis {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/*-------------- Media Screens --------------*/
@media screen and (max-width: 680px) {
    /* #logo {
        display: none;
    } */
    .tab {
      margin-top: 1rem;
    }
    .navbar {
      flex-direction: column;
    }
}

/* Dashboard - Vertical Carousel (bootstrap) */
 .vertical.carousel .carousel-control {
      bottom: auto;
      width: 100%;
      height: 15%;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
      background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
  }
  .vertical.carousel .carousel-control.right {
    top: auto;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .vertical.carousel .carousel-control .glyphicon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .vertical.carousel .carousel-indicators {
    bottom: auto;
    top: 50%;
    left: auto;
    right: 10px;
    width: 14px;
    margin: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .vertical.carousel .carousel-inner > .item {
    left: 0;
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item > img {
    width: 100%;
  }
  .vertical.carousel .carousel-inner > .item.next,
  .vertical.carousel .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item.prev,
  .vertical.carousel .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item.next.left,
  .vertical.carousel .carousel-inner > .item.prev.right,
  .vertical.carousel .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .active,
  .vertical.carousel .carousel-inner > .next.left,
  .vertical.carousel .carousel-inner .prev.right {
    top: 0;
  }
  .vertical.carousel .carousel-inner > .next,
  .vertical.carousel .carousel-inner > .active.right {
    top: 100%;
    left: 0;
  }
  .vertical.carousel .carousel-inner > .prev,
  .vertical.carousel .carousel-inner > .active.left {
    top: -100%;
    left: 0;
  }
  
  /* Fav Button Bootstrap */
 