:root {
    /* 
    #fed766 yellow
    #00a8e8 blue 
    */
    --title-color: #00a8e8;
    --btn-color: #fed766;
    --card-color: #272727;
    --hover-color: #eff1f3;
}

* {
    /* font-family: "Special Elite", cursive; */
    font-family: 'Racing Sans One';
}

body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 5rem;
    min-height: 100vh !important;
    /* background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(255,255,255,1) 100%); */
    background-image: url(../images/qbkls.webp);
    background-repeat: repeat;
}







/* Navbar/Footer main.handlebars */
#navbar {
    background-color: var(--card-color);
    padding: 0rem;
}

.nav-link {
    color:black !important;
}

.nav-item {
    margin-top: 4vh;
    padding-bottom: 0; 
}

.tab {
    background-color: var(--);
    border-radius: 0.2rem;
    margin: 0.1rem 1rem;
    padding: 0.1rem 0.7rem;
    border: 2px solid black;
    /* box-shadow: 1px 1px 1px #fed766, -1px -1px 1px #fed766; */
    background: rgb(239,241,243);
    background: linear-gradient(0deg, rgba(239,241,243,1) 0%, rgba(143,143,143,1) 100%);
    
    transition: 1s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top: 1px solid black;
    background-color: var(--card-color);
}

.tab:hover {
    box-shadow: none;
    /* box-shadow: 1px 0px 4px var(--y-color), -1px 0px 4px var(--title-color); */
    /* box-shadow: 2px 0px 4px #fed766, -2px 0px 4px var(--title-color); */
    background: rgb(254,215,102);
    background: radial-gradient(circle, rgba(254,215,102,1) 60%, rgba(39,39,39,1) 99%);
}

#logo:hover {
    /* background: rgb(239,241,243);
    background: radial-gradient(circle, rgba(239,241,243,1) 25%, rgba(39,39,39,1) 36%); */
    background: rgb(254,215,102);
    background: radial-gradient(circle, rgba(254,215,102,1) 1%, rgba(39,39,39,1) 80%);
    /* background: rgb(239,241,243);
    background: radial-gradient(circle, rgba(239,241,243,1) 25%, rgba(39,39,39,1) 33%); */
    
}

/* Login/Register form containers login-page/register-page */
.form, .card {
    background-color: var(--card-color);
    border-radius: 0.1rem;
    /* border: 1px solid var(--); */
    box-shadow: 4px 4px 5px black, 4px -4px 5px black, -4px -4px 5px black !important;
}

#registerBtn, #loginBtn, #detailsBtn {
    background-color: var(--btn-color);
}

/* Homepage */

.homeArticleR {
  background-color: var(--title-color);
  box-shadow: 4px 4px 4px black;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.homeArticleL {
  background-color: var(--title-color);
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: -4px 4px 4px black;
}

.homeImg {
  box-shadow: 0px 4px 4px black;
  min-width: 
}

.homeContainer {
  transition: 0.8s;
  opacity: 0.75;
}
.homeContainer:hover {
  opacity: 1;
}
/* Exercises Page displaying categories */

.muscleCategory {
    width: 20rem;
    background-color: var(--btn-color);
    border-radius: 0.6rem;
    border: 1px solid black;
    box-shadow: 5px 5px 1px black;
    transition: 0.3s;
}

.muscleCategory:hover {
    box-shadow: 2px 2px 1px black;
    cursor:pointer;
    text-decoration: underline;
}

.exerciseCard {
    margin-bottom: 2rem !important;
}

#addExercise:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px var(--), 0px -1px 2px var(--);
    /* border: 1px solid var(--); */
}

/* Media Screens */
@media screen and (max-width: 660px) {
    #logo {
        display: none;
    }
}

/* Dashboard - Vertical Carousel (bootstrap) */
 .vertical.carousel .carousel-control {
      bottom: auto;
      width: 100%;
      height: 15%;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
      background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
  }
  .vertical.carousel .carousel-control.right {
    top: auto;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .vertical.carousel .carousel-control .glyphicon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .vertical.carousel .carousel-indicators {
    bottom: auto;
    top: 50%;
    left: auto;
    right: 10px;
    width: 14px;
    margin: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .vertical.carousel .carousel-inner > .item {
    left: 0;
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item > img {
    width: 100%;
  }
  .vertical.carousel .carousel-inner > .item.next,
  .vertical.carousel .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item.prev,
  .vertical.carousel .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .item.next.left,
  .vertical.carousel .carousel-inner > .item.prev.right,
  .vertical.carousel .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
  }
  .vertical.carousel .carousel-inner > .active,
  .vertical.carousel .carousel-inner > .next.left,
  .vertical.carousel .carousel-inner .prev.right {
    top: 0;
  }
  .vertical.carousel .carousel-inner > .next,
  .vertical.carousel .carousel-inner > .active.right {
    top: 100%;
    left: 0;
  }
  .vertical.carousel .carousel-inner > .prev,
  .vertical.carousel .carousel-inner > .active.left {
    top: -100%;
    left: 0;
  }
  /*Dashboard */
   /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
   .row.content {height: 1500px}
    
   /* Set gray background color and 100% height */
   .sidenav {
     background-color: #f1f1f1;
     height: 100%;
   }
   
   /* Set black background color, white text and some padding */
   footer {
     background-color: #555;
     color: white;
     padding: 15px;
   }
   
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height: auto;} 
   }
  